body{
    font-family:  sans-serif;
    background-color: darkcyan;
}
*{
    box-sizing: border-box;
}

h1{
    color: cornsilk;
    margin-bottom: 70px;

}
.container{
    padding: 40px;
    margin: 0 auto;
    max-width: 1000px;
    text-align: center;
}

#characterList{
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
   grid-gap: 20px;
}

.character{
    list-style-type: none;
    background-color: wheat;
    border-radius: 3px;
    padding: 10px 20px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 
    'Topic name'
    'anser';
    text-align:center;

}
.character> h2{
    grid-area: topic;
    margin-bottom: 0px;
}
.character >p{
    grid-area: anser;
    margin: 0;
    margin-top: -18px;

}
#searchBar {
    width: 70%;
    height: 32px;
    border-radius: 3px;
    border: 1px solid #eaeaea;
    padding: 5px 10px;
    font-size: 12px;
}


#searchWrapper {
    position: relative;
}

#searchWrapper::after {
    content: '🔍';
    position: absolute;
    top: 7px;
    right: 140px;
}

#myTable{

    margin-top: 40px;
    margin-left: 210px;
    margin-right: 60px;
}

th{
    background-color: tomato;
    background-origin: height 40px;
}

.myTable{
    border-collapse: collapse;
    width: 100%;

}
th,td{
    text-align:center;
    padding: 8px;
}
tr:nth-child(odd){background-color:#f2f2f2;}
tr:nth-child(even){background-color: wheat;}